# Data Cleaning

In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from config import state_abbrev, reverse_state_abbrev, state_codes

import plotly.offline as py
import plotly.graph_objs as go
import plotly.figure_factory as ff
py.init_notebook_mode(connected=True)

## US Air Quality Index (AQI) Data - by County
By state/county, with FIPS data for choropleth plotting.

In [3]:
# Read in and combine AQI data
county_aqi_df = pd.DataFrame()
for yr in range(1980,2018):
    aqi = pd.read_csv('raw_data/annual_aqi_by_county_{}.csv'.format(yr))
    county_aqi_df = county_aqi_df.append(aqi, ignore_index=True)

# Make state and county names lowercase
for y in ['State', 'County']:
    county_aqi_df[y] = county_aqi_df[y].apply(lambda x: x.lower())

county_aqi_df.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,alabama,autauga,1980,179,122,35,18,4,0,0,177,108,40,0,0,122,57,0,0
1,alabama,colbert,1980,274,127,45,63,39,0,0,200,165,56,0,0,0,274,0,0
2,alabama,jackson,1980,366,85,110,92,79,0,0,200,200,94,0,0,0,366,0,0
3,alabama,jefferson,1980,342,174,105,37,19,7,0,221,140,50,202,0,140,0,0,0
4,alabama,lauderdale,1980,274,120,58,77,19,0,0,200,139,56,0,0,0,274,0,0

In [4]:
# Get dataframe with state/county FIPS codes
fips = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/laucnty16.csv')

# Parse FIPS county/state data
fips["County"] = fips['County Name/State Abbreviation'].apply(lambda x: x.split(",")[0].replace(" County", "").lower())
fips["State Abbreviation"] = fips['County Name/State Abbreviation'].apply(lambda x: x.split(", ")[-1])
fips["State"] = fips["State Abbreviation"].apply(lambda x: state_abbrev[x].lower())

# Pad FIPS codes with 0's, concat for combined FIPS code
fips['State FIPS Code'] = fips['State FIPS Code'].apply(lambda x: str(x).zfill(2))
fips['County FIPS Code'] = fips['County FIPS Code'].apply(lambda x: str(x).zfill(3))
fips['FIPS'] = fips['State FIPS Code'] + fips['County FIPS Code']

# Remove unused columns
fips = fips[['County','State','State Abbreviation','FIPS','State FIPS Code','County FIPS Code']]

fips.head()

    County    State State Abbreviation   FIPS State FIPS Code County FIPS Code
0  autauga  alabama                 AL  01001              01              001
1  baldwin  alabama                 AL  01003              01              003
2  barbour  alabama                 AL  01005              01              005
3     bibb  alabama                 AL  01007              01              007
4   blount  alabama                 AL  01009              01              009

In [14]:
# Combine fips df with county AQI df
county_aqi_1980_2018 = county_aqi_df.merge(fips, how='inner', on=['State','County'])
county_aqi_1980_2018.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,...,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,State Abbreviation,FIPS,State FIPS Code,County FIPS Code
0,alabama,autauga,1980,179,122,35,18,4,0,0,...,0,0,122,57,0,0,AL,01001,01,001
1,alabama,autauga,1981,357,289,49,15,4,0,0,...,0,0,241,116,0,0,AL,01001,01,001
2,alabama,autauga,1982,245,203,36,5,0,1,0,...,0,0,166,79,0,0,AL,01001,01,001
3,alabama,autauga,1989,63,54,9,0,0,0,0,...,0,0,63,0,0,0,AL,01001,01,001
4,alabama,autauga,1990,266,183,64,18,1,0,0,...,0,0,266,0,0,0,AL,01001,01,001

In [6]:
# Add columns with percentage data for good/hazardous days
county_aqi_1980_2018['% Days Good'] = county_aqi_1980_2018["Good Days"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018['% Days Moderate'] = county_aqi_1980_2018["Moderate Days"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018['% Days Unhealthy for Sensitive Groups'] = county_aqi_1980_2018["Unhealthy for Sensitive Groups Days"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018['% Days Unhealthy'] = county_aqi_1980_2018["Unhealthy Days"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018['% Days Very Unhealthy'] = county_aqi_1980_2018["Very Unhealthy Days"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018['% Days Hazardous'] = county_aqi_1980_2018["Hazardous Days"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,...,State Abbreviation,FIPS,State FIPS Code,County FIPS Code,% Days Good,% Days Moderate,% Days Unhealthy for Sensitive Groups,% Days Unhealthy,% Days Very Unhealthy,% Days Hazardous
0,alabama,autauga,1980,179,122,35,18,4,0,0,...,AL,01001,01,001,68.156425,19.553073,10.055866,2.234637,0.000000,0.0
1,alabama,autauga,1981,357,289,49,15,4,0,0,...,AL,01001,01,001,80.952381,13.725490,4.201681,1.120448,0.000000,0.0
2,alabama,autauga,1982,245,203,36,5,0,1,0,...,AL,01001,01,001,82.857143,14.693878,2.040816,0.000000,0.408163,0.0
3,alabama,autauga,1989,63,54,9,0,0,0,0,...,AL,01001,01,001,85.714286,14.285714,0.000000,0.000000,0.000000,0.0
4,alabama,autauga,1990,266,183,64,18,1,0,0,...,AL,01001,01,001,68.796992,24.060150,6.766917,0.375940,0.000000,0.0

In [7]:
# Export county aqi data to csv
county_aqi_1980_2018.to_csv("clean_data/county_aqi_1980_2018.csv")
print('Done.')

Done.

## US AQI Data - by CBSA

In [24]:
# Read in and combine AQI data
cbsa_aqi_df = pd.DataFrame()
for yr in range(1980,2018):
    aqi = pd.read_csv('raw_data/annual_aqi_by_cbsa_{}.csv'.format(yr))
    cbsa_aqi_df = cbsa_aqi_df.append(aqi, ignore_index=True)

# Parse CBSA column into city and state columns
cbsa_aqi_df['State Abbreviation'] = cbsa_aqi_df['CBSA'].apply(lambda x: x.split(', ')[-1])
cbsa_aqi_df['CBSA'] = cbsa_aqi_df['CBSA'].apply(lambda x: x.split(', ')[0])
    
cbsa_aqi_df

,CBSA,CBSA Code,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,State Abbreviation
0,Akron,10420,1980,366,17,119,171,57,2,0,205,164,109,8,5,55,298,0,0,OH
1,Albany-Schenectady-Troy,10580,1980,365,95,183,72,15,0,0,200,122,69,1,0,90,274,0,0,NY
2,Albuquerque,10740,1980,366,161,155,29,12,9,0,251,118,54,121,49,196,0,0,0,NM
3,Alexandria,10780,1980,183,152,25,5,1,0,0,169,71,35,0,0,183,0,0,0,LA
4,Allentown-Bethlehem-Easton,10900,1980,365,104,157,58,36,9,1,357,159,69,10,92,124,139,0,0,PA-NJ
5,Alma,10940,1980,359,275,36,46,2,0,0,152,120,27,0,0,0,359,0,0,MI
6,Altoona,11020,1980,147,111,26,7,3,0,0,177,84,33,0,0,37,110,0,0,PA
7,Amarillo,11100,1980,113,93,16,4,0,0,0,112,77,38,0,0,113,0,0,0,TX
8,Ames,11180,1980,180,147,23,9,1,0,0,163,74,7,0,0,0,180,0,0,IA
9,Anchorage,11260,1980,366,205,116,18,14,13,0,280,126,44,366,0,0,0,0,0,AK
10,Ann Arbor,11460,1980,363,300,45,14,4,0,0,166,76,29,0,0,193,170,0,0,MI
11,Appleton,11540,1980,202,175,19,8,0,0,0,150,61,34,0,0,202,0,0,0,WI
12,Asheville,11700,1980,174,104,38,26,6,0,0,164,122,45,0,0,174,0,0,0,NC
13,Ashtabula,11780,1980,366,201,98,54,13,0,0,200,119,47,0,0,180,186,0,0,OH
14,Atlanta-Sandy Springs-Roswell,12060,1980,366,90,158,86,24,8,0,233,147,80,69,37,148,112,0,0,GA
15,Atlantic City-Hammonton,12100,1980,328,115,139,40,27,7,0,238,154,63,134,0,159,35,0,0,NJ
16,Augusta-Richmond County,12260,1980,363,252,63,39,9,0,0,187,112,34,0,0,180,183,0,0,GA-SC
17,Augusta-Waterville,12300,1980,139,103,19,13,4,0,0,190,115,37,0,0,139,0,0,0,ME
18,Austin-Round Rock,12420,1980,311,244,48,15,4,0,0,174,84,38,2,3,295,11,0,0,TX
19,Bakersfield,12540,1980,365,45,158,89,46,27,0,230,190,93,9,45,156,155,0,0,CA
20,Baltimore-Columbia-Towson,12580,1980,360,49,169,78,32,32,0,237,197,85,18,110,121,111,0,0,MD
21,Bangor,12620,1980,366,55,85,117,109,0,0,200,200,114,18,0,27,321,0,0,ME
22,Barre,12740,1980,193,171,22,0,0,0,0,94,51,24,0,0,0,193,0,0,VT
23,Baton Rouge,12940,1980,355,205,74,49,13,14,0,244,137,44,0,0,318,37,0,0,LA
24,Battle Creek,12980,1980,356,356,0,0,0,0,0,43,27,0,0,0,0,356,0,0,MI
25,Bay City,13020,1980,365,294,47,19,4,1,0,213,67,34,0,0,269,96,0,0,MI
26,Beaumont-Port Arthur,13140,1980,338,161,84,50,23,20,0,235,169,54,2,28,217,91,0,0,TX
27,Bennington,13540,1980,216,206,9,1,0,0,0,102,41,20,0,0,0,216,0,0,VT
28,Berlin,13620,1980,359,49,76,148,86,0,0,200,182,118,9,0,0,350,0,0,NH-VT
29,Billings,13740,1980,263,72,65,92,34,0,0,200,157,94,11,1,2,249,0,0,MT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18159,Warner Robins,47580,2017,327,263,64,0,0,0,0,92,56,35,0,0,0,0,327,0,GA
18160,Warren,47620,2017,365,358,6,1,0,0,0,105,24,10,0,0,0,365,0,0,PA
18161,Washington Court House,47920,2017,357,326,30,1,0,0,0,115,49,35,0,0,357,0,0,0,OH
18162,Washington,47780,2017,358,358,0,0,0,0,0,27,11,4,0,0,0,358,0,0,IN
18163,Washington,47820,2017,365,365,0,0,0,0,0,31,11,1,0,0,0,365,0,0,NC
18164,Washington-Arlington-Alexandria,47900,2017,365,147,210,8,0,0,0,133,74,53,0,24,164,0,177,0,DC-VA-MD-WV
18165,Waterloo-Cedar Falls,47940,2017,363,231,132,0,0,0,0,93,64,46,0,0,78,0,285,0,IA
18166,Watertown,47980,2017,364,329,35,0,0,0,0,80,50,31,0,0,0,0,287,77,SD
18167,Watertown-Fort Atkinson,48020,2017,245,214,31,0,0,0,0,90,54,39,0,0,245,0,0,0,WI
18168,Watertown-Fort Drum,48060,2017,326,309,15,2,0,0,0,101,46,34,0,0,326,0,0,0,NY
18169,Wausau,48140,2017,237,223,14,0,0,0,0,90,47,36,0,0,237,0,0,0,WI
18170,Weatherford,48220,2017,305,302,3,0,0,0,0,88,30,17,0,0,0,0,0,305,OK
18171,Weirton-Steubenville,48260,2017,365,184,180,1,0,0,0,110,69,50,0,0,100,15,250,0,WV-OH
18172,Wenatchee,48300,2017,365,282,62,9,9,3,0,269,69,28,0,0,0,0,365,0,WA
18173,Wheeling,48540,2017,365,211,154,0,0,0,0,87,65,48,0,0,93,0,271,1,WV-OH
18174,Whitewater-Elkhorn,48580,2017,243,219,24,0,0,0,0,90,50,39,0,0,243,0,0,0,WI
18175,Wichita,48620,2017,365,268,97,0,0,0,0,100,61,43,0,6,221,0,52,86,KS
18176,Williamsport,48700,2017,364,343,21,0,0,0,0,84,46,33,0,0,329,0,0,35,PA
18177,Williston,48780,2017,365,312,50,3,0,0,0,131,54,37,0,0,247,47,67,4,ND
18178,Wilmington,48900,2017,365,340,25,0,0,0,0,67,48,33,0,0,178,12,175,0,NC
18179,Wilmington,48940,2017,245,206,36,3,0,0,0,143,61,42,0,0,245,0,0,0,OH
18180,Winchester,49020,2017,345,304,41,0,0,0,0,80,52,38,0,0,186,0,158,1,VA-WV
18181,Winona,49100,2017,50,48,2,0,0,0,0,58,41,14,0,0,0,0,50,0,MN
18182,Winston-Salem,49180,2017,365,256,109,0,0,0,0,100,62,44,0,9,194,0,162,0,NC
18183,Worcester,49340,2017,365,323,37,5,0,0,0,143,53,38,0,20,283,0,62,0,MA-CT
18184,Yakima,49420,2017,365,233,103,21,5,3,0,283,95,36,0,0,0,0,347,18,WA
18185,York-Hanover,49620,2017,365,266,99,0,0,0,0,93,61,43,0,14,211,1,139,0,PA
18186,Youngstown-Warren-Boardman,49660,2017,365,191,170,4,0,0,0,115,67,50,0,0,122,0,243,0,OH-PA
18187,Yuba City,49700,2017,365,181,175,9,0,0,0,130,82,51,0,0,172,0,189,4,CA
18188,Yuma,49740,2017,365,241,110,12,1,1,0,235,72,45,0,0,209,0,50,106,AZ

In [23]:
len(cbsa_aqi_df)

18189

In [25]:
# Add columns with percentage data for good/hazardous days
cbsa_aqi_df['% Days Good'] = cbsa_aqi_df["Good Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df['% Days Moderate'] = cbsa_aqi_df["Moderate Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df['% Days Unhealthy for Sensitive Groups'] = cbsa_aqi_df["Unhealthy for Sensitive Groups Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df['% Days Unhealthy'] = cbsa_aqi_df["Unhealthy Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df['% Days Very Unhealthy'] = cbsa_aqi_df["Very Unhealthy Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df['% Days Hazardous'] = cbsa_aqi_df["Hazardous Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df.head()

,CBSA,CBSA Code,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,...,Days SO2,Days PM2.5,Days PM10,State Abbreviation,% Days Good,% Days Moderate,% Days Unhealthy for Sensitive Groups,% Days Unhealthy,% Days Very Unhealthy,% Days Hazardous
0,Akron,10420,1980,366,17,119,171,57,2,0,...,298,0,0,OH,4.644809,32.513661,46.721311,15.573770,0.546448,0.000000
1,Albany-Schenectady-Troy,10580,1980,365,95,183,72,15,0,0,...,274,0,0,NY,26.027397,50.136986,19.726027,4.109589,0.000000,0.000000
2,Albuquerque,10740,1980,366,161,155,29,12,9,0,...,0,0,0,NM,43.989071,42.349727,7.923497,3.278689,2.459016,0.000000
3,Alexandria,10780,1980,183,152,25,5,1,0,0,...,0,0,0,LA,83.060109,13.661202,2.732240,0.546448,0.000000,0.000000
4,Allentown-Bethlehem-Easton,10900,1980,365,104,157,58,36,9,1,...,139,0,0,PA-NJ,28.493151,43.013699,15.890411,9.863014,2.465753,0.273973

In [26]:
# Export county aqi data to csv
cbsa_aqi_df.to_csv("clean_data/cbsa_aqi_1980_2018.csv")
print('Done.')

Done.

## US Cancer Data - by State

In [8]:
# Read in csvs as dataframes
df_cancer_1998_2008 = pd.read_csv("raw_data/state_yearly_monthly_cancer_statistics_1999_to_2008.csv")
df_cancer_2009_2014 = pd.read_csv("raw_data/state_yearly_monthly_cancer_statistics_2009_to_2014.csv")

# Remove lines without data
df_cancer_1998_2008 = df_cancer_1998_2008.loc[df_cancer_1998_2008["State"].isin(reverse_state_abbrev)]
df_cancer_2009_2014 = df_cancer_2009_2014.loc[df_cancer_2009_2014["State"].isin(reverse_state_abbrev)]

# Combine dataframes
df_cancer_1998_2014 = df_cancer_1998_2008.append(df_cancer_2009_2014, ignore_index=True)

# Add column with state abbreviation for making choropleth
df_cancer_1998_2014["State Abbreviation"] = df_cancer_1998_2014["State"].apply(lambda x: reverse_state_abbrev[x])

# Change numeric dtypes
df_cancer_1998_2014[['State Code', 'Year', 'Year Code', 'Count']\
                   ] = df_cancer_1998_2014[['State Code', 'Year', 'Year Code', 'Count']].astype(int)

state_cancer_1998_2014 = df_cancer_1998_2014[['State','State Abbreviation','Year','Year Code','Cancer Sites','Cancer Sites Code','Count']]
state_cancer_1998_2014.head()

,State,State Abbreviation,Year,Year Code,Cancer Sites,Cancer Sites Code,Count
0,Connecticut,CT,1999,1999,All Invasive Cancer Sites Combined,0,18694
1,Connecticut,CT,2000,2000,All Invasive Cancer Sites Combined,0,19200
2,Connecticut,CT,2001,2001,All Invasive Cancer Sites Combined,0,19626
3,Connecticut,CT,2002,2002,All Invasive Cancer Sites Combined,0,19570
4,Connecticut,CT,2003,2003,All Invasive Cancer Sites Combined,0,19516

In [9]:
# Export state cancer data to csv
state_cancer_1998_2014.to_csv("clean_data/state_cancer_1998_2014.csv")
print('Done.')

Done.

In [10]:
# Group data by state
cancer_by_state = state_cancer_1998_2014.groupby(['State Abbreviation','State'])[['Count']].sum()
# cancer_by_state = cancer_by_state.reset_index('State Abbreviation')
cancer_by_state.head()

                                 Count
State Abbreviation State
AK                 Alaska       125735
AL                 Alabama     1215322
AR                 Arkansas     668683
AZ                 Arizona     1356728
CA                 California  7956919

## US Cancer Data - by County

In [11]:
# What year is this data for??

# Read in county data for cancer incidences
csv = "Choropleth Testing/Resources/county_cancer_data.csv"
county_cancer_data = pd.read_csv(csv, encoding='latin-1')
county_cancer_data = county_cancer_data.rename(columns = {"County": "Geography"})

# Parse geographic info into county and state
county_cancer_data['County'] = county_cancer_data['Geography'].apply(lambda x: x.split(', ')[0])
county_cancer_data['State'] = county_cancer_data['Geography'].apply(lambda x: x.split(', ')[-1].split('(')[0])

# Remove values that don't contain state data
county_cancer_data = county_cancer_data.loc[county_cancer_data['State'] != 'US ']
county_cancer_data = county_cancer_data.loc[county_cancer_data['State'] != 'Puerto Rico']

# Remove null datapoints
county_cancer_data = county_cancer_data.loc[county_cancer_data['Average Annual Count'] != '¶ ']
county_cancer_data = county_cancer_data.loc[county_cancer_data['Average Annual Count'] != '¶¶']
county_cancer_data = county_cancer_data.loc[county_cancer_data['Average Annual Count'] != '¶']
county_cancer_data = county_cancer_data.loc[county_cancer_data['Met Healthy People Objective of ***?'] != '<font color=grey>*</font>']

# Add column for state abbreviation
county_cancer_data['State Abbreviation'] = county_cancer_data['State'].apply(lambda x: reverse_state_abbrev[x])

county_cancer_data.head()

,Geography,FIPS,Met Healthy People Objective of ***?,"Age-Adjusted Incidence Rate() - cases per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend () in Incidence Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1,County,State,State Abbreviation
1,"Union County, Florida(6,10)",12125,***,215.1,183.2,251.1,38,stable,-2.5,-24,25,Union County,Florida,FL
2,"Owsley County, Kentucky(7,8)",21189,***,179.7,134.8,236.3,11,rising,4.3,0.9,7.7,Owsley County,Kentucky,KY
3,"McCreary County, Kentucky(7,8)",21147,***,154.1,130.5,180.9,32,stable,-0.7,-3,1.7,McCreary County,Kentucky,KY
4,"North Slope Borough, Alaska(6,10)",2185,***,150.8,97,220.1,7,stable,-0.2,-36.8,57.8,North Slope Borough,Alaska,AK
5,"Powell County, Kentucky(7,8)",21197,***,140.9,115.2,171,22,stable,0.4,-3.3,4.3,Powell County,Kentucky,KY

In [12]:
# Export county cancer data to csv
# county_cancer_data_years = [???]
county_cancer_data.to_csv("clean_data/county_cancer_trends.csv")
print('Done.')

Done.

## County Population Data

In [51]:
# Read in census data with county population estimates
census_csv = "Choropleth Testing/Resources/county_populations_census_2010-17.csv"
county_pop = pd.read_csv(census_csv, encoding='latin-1')

# Rename columns
county_pop = county_pop.rename(columns = {'April 1, 2010 - Census': '2010 Census',
                                          'April 1, 2010 - Estimates Base': 'Estimate Base',
                                          'Population Estimate (as of July 1) - 2010': '2010 Estimate',
                                          'Population Estimate (as of July 1) - 2011': '2011 Estimate',
                                          'Population Estimate (as of July 1) - 2012': '2012 Estimate',
                                          'Population Estimate (as of July 1) - 2013': '2013 Estimate',
                                          'Population Estimate (as of July 1) - 2014': '2014 Estimate',
                                          'Population Estimate (as of July 1) - 2015': '2015 Estimate',
                                          'Population Estimate (as of July 1) - 2016': '2016 Estimate',
                                          'Population Estimate (as of July 1) - 2017': '2017 Estimate'})

# Parse geography column into county/state columns
county_pop["County"] = county_pop['Geography'].apply(lambda x: x.split(", ")[0].lower())
county_pop["County"] = county_pop["County"].apply(lambda x: x.replace(" county", ""))
county_pop["County"] = county_pop["County"].apply(lambda x: x.replace(" parish", ""))
county_pop["State"] = county_pop['Geography'].apply(lambda x: x.split(", ")[-1])
county_pop["FIPS"] = county_pop['Id'].apply(lambda x: x[-5:])
county_pop["State Abbreviation"] = county_pop['State'].apply(lambda x: reverse_state_abbrev[x])
county_pop["State"] = county_pop['State'].apply(lambda x: x.lower())

# Remove unnecessary cols
county_pop = county_pop[['FIPS','County','State','State Abbreviation','2010 Census','2011 Estimate','2012 Estimate','2013 Estimate','2014 Estimate','2015 Estimate','2016 Estimate','2017 Estimate']]

county_pop.head()

,FIPS,County,State,State Abbreviation,2010 Census,2011 Estimate,2012 Estimate,2013 Estimate,2014 Estimate,2015 Estimate,2016 Estimate,2017 Estimate
0,01001,autauga,alabama,AL,54571,55199,54927,54695,54864,54838,55278,55504
1,01003,baldwin,alabama,AL,182265,186534,190048,194736,199064,202863,207509,212628
2,01005,barbour,alabama,AL,27457,27351,27175,26947,26749,26264,25774,25270
3,01007,bibb,alabama,AL,22915,22745,22658,22503,22533,22561,22633,22668
4,01009,blount,alabama,AL,57322,57562,57595,57623,57546,57590,57562,58013

In [55]:
# Change county population data format to match other datasets (new rows for each year)?
county_pop_2010_2017 = []
year_cols = ['2010 Census','2011 Estimate','2012 Estimate','2013 Estimate','2014 Estimate','2015 Estimate','2016 Estimate','2017 Estimate']

for i in range(len(county_pop)):
    county_fips = county_pop.iloc[i,0]
    county_name = county_pop.iloc[i,1]
    county_state = county_pop.iloc[i,2]
    county_st_abbrev = county_pop.iloc[i,3]
    for j in range(4,len(county_pop.iloc[i])-1):
        year = year_cols[int(j-4)].split()[0]
        county_yr_pop = county_pop.iloc[i,j]
        county_yr_row = {'FIPS':county_fips,
                          'County':county_name,
                          'State':county_state,
                          'State Abbreviation':county_st_abbrev,
                          'Year':year,
                          'Population':county_yr_pop}
        county_pop_2010_2017.append(county_yr_row)
        
county_pop_2010_2017 = pd.DataFrame(county_pop_2010_2017)
county_pop_2010_2017.head()

    County   FIPS  Population    State State Abbreviation  Year
0  autauga  01001       54571  alabama                 AL  2010
1  autauga  01001       55199  alabama                 AL  2011
2  autauga  01001       54927  alabama                 AL  2012
3  autauga  01001       54695  alabama                 AL  2013
4  autauga  01001       54864  alabama                 AL  2014