# Data Cleaning

In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from config import state_abbrev, reverse_state_abbrev, state_codes

import plotly.offline as py
import plotly.graph_objs as go
import plotly.figure_factory as ff
py.init_notebook_mode(connected=True)

## US Air Quality Index (AQI) Data - by County
By state/county, with FIPS data for choropleth plotting.

In [2]:
# Read in and combine AQI data
county_aqi_df = pd.DataFrame()
for yr in range(1980,2018):
    aqi = pd.read_csv('raw_data/annual_aqi_by_county_{}.csv'.format(yr))
    county_aqi_df = county_aqi_df.append(aqi, ignore_index=True)

# Make state and county names lowercase
for y in ['State', 'County']:
    county_aqi_df[y] = county_aqi_df[y].apply(lambda x: x.lower())

county_aqi_df.head()
# county_aqi_df.loc[county_aqi_df['State']=='louisiana']
# county_aqi_df['State'].unique()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,alabama,autauga,1980,179,122,35,18,4,0,0,177,108,40,0,0,122,57,0,0
1,alabama,colbert,1980,274,127,45,63,39,0,0,200,165,56,0,0,0,274,0,0
2,alabama,jackson,1980,366,85,110,92,79,0,0,200,200,94,0,0,0,366,0,0
3,alabama,jefferson,1980,342,174,105,37,19,7,0,221,140,50,202,0,140,0,0,0
4,alabama,lauderdale,1980,274,120,58,77,19,0,0,200,139,56,0,0,0,274,0,0

In [3]:
# Get dataframe with state/county FIPS codes
fips = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/laucnty16.csv')

# Parse FIPS county/state data
fips["County"] = fips['County Name/State Abbreviation'].apply(lambda x: x.split(",")[0].replace(" County", "").replace(" Parish", "").replace(" Borough", "").replace(" Census Area", "").replace("/city", "").replace("/municipality", "").replace(" Municipality", "").lower())
# fips["County"] = fips['County Name/State Abbreviation'].apply(lambda x: x.split(",")[0].lower())
fips["State Abbreviation"] = fips['County Name/State Abbreviation'].apply(lambda x: x.split(", ")[-1])
fips["State"] = fips["State Abbreviation"].apply(lambda x: state_abbrev[x].lower())

# Pad FIPS codes with 0's, concat for combined FIPS code
fips['State FIPS Code'] = fips['State FIPS Code'].apply(lambda x: str(x).zfill(2))
fips['County FIPS Code'] = fips['County FIPS Code'].apply(lambda x: str(x).zfill(3))
fips['FIPS'] = fips['State FIPS Code'] + fips['County FIPS Code']

# Select out specific columns
fips = fips[['County','State','State Abbreviation','FIPS','State FIPS Code','County FIPS Code']]

fips.loc[fips['State']=='hawaii']
fips.head()

    County    State State Abbreviation   FIPS State FIPS Code County FIPS Code
0  autauga  alabama                 AL  01001              01              001
1  baldwin  alabama                 AL  01003              01              003
2  barbour  alabama                 AL  01005              01              005
3     bibb  alabama                 AL  01007              01              007
4   blount  alabama                 AL  01009              01              009

In [4]:
# Export FIPS data to csv
fips.to_csv("clean_data/fips_data.csv")
print('Done.')

Done.

In [5]:
# Combine fips df with county AQI df
county_aqi_1980_2018 = county_aqi_df.merge(fips, how='inner', on=['State','County'])
county_aqi_1980_2018.head()
# county_aqi_1980_2018.loc[county_aqi_1980_2018['State']=='louisiana']

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,...,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,State Abbreviation,FIPS,State FIPS Code,County FIPS Code
0,alabama,autauga,1980,179,122,35,18,4,0,0,...,0,0,122,57,0,0,AL,01001,01,001
1,alabama,autauga,1981,357,289,49,15,4,0,0,...,0,0,241,116,0,0,AL,01001,01,001
2,alabama,autauga,1982,245,203,36,5,0,1,0,...,0,0,166,79,0,0,AL,01001,01,001
3,alabama,autauga,1989,63,54,9,0,0,0,0,...,0,0,63,0,0,0,AL,01001,01,001
4,alabama,autauga,1990,266,183,64,18,1,0,0,...,0,0,266,0,0,0,AL,01001,01,001

In [6]:
county_aqi_1980_2018.keys()

Index(['State', 'County', 'Year', 'Days with AQI', 'Good Days',
       'Moderate Days', 'Unhealthy for Sensitive Groups Days',
       'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days SO2', 'Days PM2.5', 'Days PM10',
       'State Abbreviation', 'FIPS', 'State FIPS Code', 'County FIPS Code'],
      dtype='object')

In [7]:
# Add columns with percentage data for good/hazardous days
county_aqi_1980_2018['% Days AQI Unhealthy-Hazardous'] = ((
    county_aqi_1980_2018["Unhealthy Days"] + county_aqi_1980_2018["Very Unhealthy Days"] + 
    county_aqi_1980_2018["Hazardous Days"]) / county_aqi_1980_2018["Days with AQI"]) * 100

county_aqi_1980_2018['% Days CO'] = county_aqi_1980_2018["Days CO"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018['% Days NO2'] = county_aqi_1980_2018["Days NO2"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018['% Days SO2'] = county_aqi_1980_2018["Days SO2"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018['% Days Ozone'] = county_aqi_1980_2018["Days Ozone"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018['% Days PM2.5'] = county_aqi_1980_2018["Days PM2.5"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018['% Days PM10'] = county_aqi_1980_2018["Days PM10"] / county_aqi_1980_2018["Days with AQI"] * 100

# county_aqi_1980_2018['% Days Good'] = county_aqi_1980_2018["Good Days"] / county_aqi_1980_2018["Days with AQI"] * 100
# county_aqi_1980_2018['% Days Moderate'] = county_aqi_1980_2018["Moderate Days"] / county_aqi_1980_2018["Days with AQI"] * 100
# county_aqi_1980_2018['% Days Unhealthy for Sensitive Groups'] = county_aqi_1980_2018["Unhealthy for Sensitive Groups Days"] / county_aqi_1980_2018["Days with AQI"] * 100
# county_aqi_1980_2018['% Days Unhealthy'] = county_aqi_1980_2018["Unhealthy Days"] / county_aqi_1980_2018["Days with AQI"] * 100
# county_aqi_1980_2018['% Days Very Unhealthy'] = county_aqi_1980_2018["Very Unhealthy Days"] / county_aqi_1980_2018["Days with AQI"] * 100
# county_aqi_1980_2018['% Days Hazardous'] = county_aqi_1980_2018["Hazardous Days"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018.keys()

Index(['State', 'County', 'Year', 'Days with AQI', 'Good Days',
       'Moderate Days', 'Unhealthy for Sensitive Groups Days',
       'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days SO2', 'Days PM2.5', 'Days PM10',
       'State Abbreviation', 'FIPS', 'State FIPS Code', 'County FIPS Code',
       '% Days AQI Unhealthy-Hazardous', '% Days CO', '% Days NO2',
       '% Days SO2', '% Days Ozone', '% Days PM2.5', '% Days PM10'],
      dtype='object')

In [8]:
# county_aqi_1980_2018.loc[county_aqi_1980_2018['State']=='louisiana']
# county_aqi_1980_2018.dtypes

In [9]:
# Export county aqi data to csv
county_aqi_1980_2018.to_csv("clean_data/county_aqi_1980_2018.csv")
print('Done.')

Done.

### AQI Data with relevant quant data + state/county/fips/etc + year (1980-2018)

In [10]:
# Separate out useful data
aqi_1980_2018 = county_aqi_1980_2018[['State', 'County', 'State Abbreviation', 'Year', 'FIPS',
                               'State FIPS Code', 'County FIPS Code', 'Max AQI','90th Percentile AQI', 
                               '% Days AQI Unhealthy-Hazardous', '% Days CO', '% Days NO2',
                               '% Days SO2', '% Days Ozone', '% Days PM2.5', '% Days PM10']]
aqi_1980_2018

,State,County,State Abbreviation,Year,FIPS,State FIPS Code,County FIPS Code,Max AQI,90th Percentile AQI,% Days AQI Unhealthy-Hazardous,% Days CO,% Days NO2,% Days SO2,% Days Ozone,% Days PM2.5,% Days PM10
0,alabama,autauga,AL,1980,01001,01,001,177,108,2.234637,0.0,0.000000,31.843575,68.156425,0.000000,0.000000
1,alabama,autauga,AL,1981,01001,01,001,195,77,1.120448,0.0,0.000000,32.492997,67.507003,0.000000,0.000000
2,alabama,autauga,AL,1982,01001,01,001,206,67,0.408163,0.0,0.000000,32.244898,67.755102,0.000000,0.000000
3,alabama,autauga,AL,1989,01001,01,001,100,64,0.000000,0.0,0.000000,0.000000,100.000000,0.000000,0.000000
4,alabama,autauga,AL,1990,01001,01,001,151,93,0.375940,0.0,0.000000,0.000000,100.000000,0.000000,0.000000
5,alabama,colbert,AL,1980,01033,01,033,200,165,14.233577,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
6,alabama,colbert,AL,1981,01033,01,033,200,149,9.776536,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
7,alabama,colbert,AL,1982,01033,01,033,200,148,9.577465,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
8,alabama,colbert,AL,1983,01033,01,033,200,129,4.678363,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
9,alabama,colbert,AL,1984,01033,01,033,200,127,5.459770,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
10,alabama,colbert,AL,1985,01033,01,033,194,123,3.717472,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
11,alabama,colbert,AL,1986,01033,01,033,200,141,6.197183,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
12,alabama,colbert,AL,1987,01033,01,033,200,148,9.727626,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
13,alabama,colbert,AL,1988,01033,01,033,200,118,3.216374,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
14,alabama,colbert,AL,1989,01033,01,033,200,107,2.785515,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
15,alabama,colbert,AL,1990,01033,01,033,192,106,0.835655,0.0,0.000000,90.250696,0.000000,0.000000,9.749304
16,alabama,colbert,AL,1991,01033,01,033,158,77,0.278552,0.0,0.000000,91.364903,0.000000,0.000000,8.635097
17,alabama,colbert,AL,1992,01033,01,033,129,51,0.000000,0.0,0.000000,89.863014,0.000000,0.000000,10.136986
18,alabama,colbert,AL,1993,01033,01,033,176,70,0.837989,0.0,0.000000,89.385475,0.000000,0.000000,10.614525
19,alabama,colbert,AL,1994,01033,01,033,185,97,0.595238,0.0,0.000000,24.404762,72.916667,0.000000,2.678571
20,alabama,colbert,AL,1995,01033,01,033,133,71,0.000000,0.0,0.000000,57.142857,33.540373,0.000000,9.316770
21,alabama,colbert,AL,1996,01033,01,033,123,54,0.000000,0.0,0.000000,89.890710,0.000000,0.000000,10.109290
22,alabama,colbert,AL,1997,01033,01,033,144,52,0.000000,0.0,0.000000,90.109890,0.000000,0.000000,9.890110
23,alabama,colbert,AL,1998,01033,01,033,121,39,0.000000,0.0,0.000000,89.743590,0.000000,0.000000,10.256410
24,alabama,colbert,AL,1999,01033,01,033,166,73,0.278552,0.0,0.000000,79.108635,0.000000,20.891365,0.000000
25,alabama,colbert,AL,2000,01033,01,033,124,67,0.000000,0.0,0.000000,72.625698,0.000000,27.374302,0.000000
26,alabama,colbert,AL,2001,01033,01,033,116,67,0.000000,0.0,0.000000,76.111111,0.000000,23.888889,0.000000
27,alabama,colbert,AL,2002,01033,01,033,166,84,0.824176,0.0,5.219780,27.472527,48.901099,18.406593,0.000000
28,alabama,colbert,AL,2003,01033,01,033,151,79,0.273973,0.0,0.821918,23.561644,53.972603,21.643836,0.000000
29,alabama,colbert,AL,2004,01033,01,033,102,61,0.000000,0.0,0.000000,27.595628,50.000000,22.404372,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34682,colorado,grand,CO,2016,08049,08,049,80,54,0.000000,0.0,0.000000,0.000000,100.000000,0.000000,0.000000
34683,idaho,jerome,ID,2015,16053,16,053,54,32,0.000000,0.0,0.000000,0.000000,0.000000,100.000000,0.000000
34684,idaho,jerome,ID,2016,16053,16,053,42,23,0.000000,0.0,0.000000,0.000000,0.000000,100.000000,0.000000
34685,idaho,jerome,ID,2017,16053,16,053,153,52,0.347222,0.0,0.000000,0.000000,0.000000,100.000000,0.000000
34686,louisiana,st. martin,LA,2015,22099,22,099,84,50,0.000000,0.0,0.000000,0.000000,100.000000,0.000000,0.000000
34687,louisiana,st. martin,LA,2016,22099,22,099,97,51,0.000000,0.0,0.000000,0.000000,100.000000,0.000000,0.000000
34688,louisiana,st. martin,LA,2017,22099,22,099,101,50,0.000000,0.0,0.000000,0.000000,100.000000,0.000000,0.000000
34689,missouri,franklin,MO,2015,29071,29,071,76,13,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34690,missouri,franklin,MO,2016,29071,29,071,62,10,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34691,missouri,franklin,MO,2017,29071,29,071,66,17,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34692,oklahoma,grady,OK,2016,40051,40,051,33,16,0.000000,0.0,100.000000,0.000000,0.000000,0.000000,0.000000
34693,oklahoma,grady,OK,2017,40051,40,051,20,16,0.000000,0.0,100.000000,0.000000,0.000000,0.000000,0.000000
34694,oklahoma,washington,OK,2016,40147,40,147,100,58,0.000000,0.0,0.000000,0.000000,67.153285,32.846715,0.000000
34695,oklahoma,washington,OK,2017,40147,40,147,108,60,0.000000,0.0,0.000000,0.000000,64.931507,35.068493,0.000000
34696,texas,howard,TX,2016,48227,48,227,72,54,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34697,texas,howard,TX,2017,48227,48,227,119,67,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34698,texas,milam,TX,2016,48331,48,331,33,10,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34699,texas,milam,TX,2017,48331,48,331,65,17,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34700,texas,robertson,TX,2016,48395,48,395,20,4,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34701,texas,robertson,TX,2017,48395,48,395,23,7,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34702,texas,titus,TX,2016,48449,48,449,14,6,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34703,texas,titus,TX,2017,48449,48,449,117,14,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34704,new york,seneca,NY,2017,36099,36,099,20,1,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34705,oklahoma,choctaw,OK,2017,40023,40,023,87,48,0.000000,0.0,0.000000,0.000000,100.000000,0.000000,0.000000
34706,texas,freestone,TX,2017,48161,48,161,101,6,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34707,texas,rusk,TX,2017,48401,48,401,62,33,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34708,virginia,botetourt,VA,2017,51023,51,023,116,21,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34709,washington,garfield,WA,2017,53023,53,023,180,62,1.639344,0.0,0.000000,0.000000,0.000000,100.000000,0.000000
34710,west virginia,mason,WV,2017,54053,54,053,71,21,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,0.000000
34711,west virginia,mineral,WV,2017,54057,54,057,200,75,1.298701,0.0,0.000000,100.000000,0.000000,0.000000,0.000000

In [11]:
# Export county aqi data to csv
aqi_1980_2018.to_csv("clean_data/aqi_1980_2018.csv")
print('Done.')

Done.

## US AQI Data - by CBSA

In [12]:
# Read in and combine AQI data
cbsa_aqi_df = pd.DataFrame()
for yr in range(1980,2018):
    aqi = pd.read_csv('raw_data/annual_aqi_by_cbsa_{}.csv'.format(yr))
    cbsa_aqi_df = cbsa_aqi_df.append(aqi, ignore_index=True)

# Parse CBSA column into city and state columns
cbsa_aqi_df['State Abbreviation'] = cbsa_aqi_df['CBSA'].apply(lambda x: x.split(', ')[-1])
cbsa_aqi_df['CBSA'] = cbsa_aqi_df['CBSA'].apply(lambda x: x.split(', ')[0])
    
cbsa_aqi_df

,CBSA,CBSA Code,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,State Abbreviation
0,Akron,10420,1980,366,17,119,171,57,2,0,205,164,109,8,5,55,298,0,0,OH
1,Albany-Schenectady-Troy,10580,1980,365,95,183,72,15,0,0,200,122,69,1,0,90,274,0,0,NY
2,Albuquerque,10740,1980,366,161,155,29,12,9,0,251,118,54,121,49,196,0,0,0,NM
3,Alexandria,10780,1980,183,152,25,5,1,0,0,169,71,35,0,0,183,0,0,0,LA
4,Allentown-Bethlehem-Easton,10900,1980,365,104,157,58,36,9,1,357,159,69,10,92,124,139,0,0,PA-NJ
5,Alma,10940,1980,359,275,36,46,2,0,0,152,120,27,0,0,0,359,0,0,MI
6,Altoona,11020,1980,147,111,26,7,3,0,0,177,84,33,0,0,37,110,0,0,PA
7,Amarillo,11100,1980,113,93,16,4,0,0,0,112,77,38,0,0,113,0,0,0,TX
8,Ames,11180,1980,180,147,23,9,1,0,0,163,74,7,0,0,0,180,0,0,IA
9,Anchorage,11260,1980,366,205,116,18,14,13,0,280,126,44,366,0,0,0,0,0,AK
10,Ann Arbor,11460,1980,363,300,45,14,4,0,0,166,76,29,0,0,193,170,0,0,MI
11,Appleton,11540,1980,202,175,19,8,0,0,0,150,61,34,0,0,202,0,0,0,WI
12,Asheville,11700,1980,174,104,38,26,6,0,0,164,122,45,0,0,174,0,0,0,NC
13,Ashtabula,11780,1980,366,201,98,54,13,0,0,200,119,47,0,0,180,186,0,0,OH
14,Atlanta-Sandy Springs-Roswell,12060,1980,366,90,158,86,24,8,0,233,147,80,69,37,148,112,0,0,GA
15,Atlantic City-Hammonton,12100,1980,328,115,139,40,27,7,0,238,154,63,134,0,159,35,0,0,NJ
16,Augusta-Richmond County,12260,1980,363,252,63,39,9,0,0,187,112,34,0,0,180,183,0,0,GA-SC
17,Augusta-Waterville,12300,1980,139,103,19,13,4,0,0,190,115,37,0,0,139,0,0,0,ME
18,Austin-Round Rock,12420,1980,311,244,48,15,4,0,0,174,84,38,2,3,295,11,0,0,TX
19,Bakersfield,12540,1980,365,45,158,89,46,27,0,230,190,93,9,45,156,155,0,0,CA
20,Baltimore-Columbia-Towson,12580,1980,360,49,169,78,32,32,0,237,197,85,18,110,121,111,0,0,MD
21,Bangor,12620,1980,366,55,85,117,109,0,0,200,200,114,18,0,27,321,0,0,ME
22,Barre,12740,1980,193,171,22,0,0,0,0,94,51,24,0,0,0,193,0,0,VT
23,Baton Rouge,12940,1980,355,205,74,49,13,14,0,244,137,44,0,0,318,37,0,0,LA
24,Battle Creek,12980,1980,356,356,0,0,0,0,0,43,27,0,0,0,0,356,0,0,MI
25,Bay City,13020,1980,365,294,47,19,4,1,0,213,67,34,0,0,269,96,0,0,MI
26,Beaumont-Port Arthur,13140,1980,338,161,84,50,23,20,0,235,169,54,2,28,217,91,0,0,TX
27,Bennington,13540,1980,216,206,9,1,0,0,0,102,41,20,0,0,0,216,0,0,VT
28,Berlin,13620,1980,359,49,76,148,86,0,0,200,182,118,9,0,0,350,0,0,NH-VT
29,Billings,13740,1980,263,72,65,92,34,0,0,200,157,94,11,1,2,249,0,0,MT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18159,Warner Robins,47580,2017,327,263,64,0,0,0,0,92,56,35,0,0,0,0,327,0,GA
18160,Warren,47620,2017,365,358,6,1,0,0,0,105,24,10,0,0,0,365,0,0,PA
18161,Washington Court House,47920,2017,357,326,30,1,0,0,0,115,49,35,0,0,357,0,0,0,OH
18162,Washington,47780,2017,358,358,0,0,0,0,0,27,11,4,0,0,0,358,0,0,IN
18163,Washington,47820,2017,365,365,0,0,0,0,0,31,11,1,0,0,0,365,0,0,NC
18164,Washington-Arlington-Alexandria,47900,2017,365,147,210,8,0,0,0,133,74,53,0,24,164,0,177,0,DC-VA-MD-WV
18165,Waterloo-Cedar Falls,47940,2017,363,231,132,0,0,0,0,93,64,46,0,0,78,0,285,0,IA
18166,Watertown,47980,2017,364,329,35,0,0,0,0,80,50,31,0,0,0,0,287,77,SD
18167,Watertown-Fort Atkinson,48020,2017,245,214,31,0,0,0,0,90,54,39,0,0,245,0,0,0,WI
18168,Watertown-Fort Drum,48060,2017,326,309,15,2,0,0,0,101,46,34,0,0,326,0,0,0,NY
18169,Wausau,48140,2017,237,223,14,0,0,0,0,90,47,36,0,0,237,0,0,0,WI
18170,Weatherford,48220,2017,305,302,3,0,0,0,0,88,30,17,0,0,0,0,0,305,OK
18171,Weirton-Steubenville,48260,2017,365,184,180,1,0,0,0,110,69,50,0,0,100,15,250,0,WV-OH
18172,Wenatchee,48300,2017,365,282,62,9,9,3,0,269,69,28,0,0,0,0,365,0,WA
18173,Wheeling,48540,2017,365,211,154,0,0,0,0,87,65,48,0,0,93,0,271,1,WV-OH
18174,Whitewater-Elkhorn,48580,2017,243,219,24,0,0,0,0,90,50,39,0,0,243,0,0,0,WI
18175,Wichita,48620,2017,365,268,97,0,0,0,0,100,61,43,0,6,221,0,52,86,KS
18176,Williamsport,48700,2017,364,343,21,0,0,0,0,84,46,33,0,0,329,0,0,35,PA
18177,Williston,48780,2017,365,312,50,3,0,0,0,131,54,37,0,0,247,47,67,4,ND
18178,Wilmington,48900,2017,365,340,25,0,0,0,0,67,48,33,0,0,178,12,175,0,NC
18179,Wilmington,48940,2017,245,206,36,3,0,0,0,143,61,42,0,0,245,0,0,0,OH
18180,Winchester,49020,2017,345,304,41,0,0,0,0,80,52,38,0,0,186,0,158,1,VA-WV
18181,Winona,49100,2017,50,48,2,0,0,0,0,58,41,14,0,0,0,0,50,0,MN
18182,Winston-Salem,49180,2017,365,256,109,0,0,0,0,100,62,44,0,9,194,0,162,0,NC
18183,Worcester,49340,2017,365,323,37,5,0,0,0,143,53,38,0,20,283,0,62,0,MA-CT
18184,Yakima,49420,2017,365,233,103,21,5,3,0,283,95,36,0,0,0,0,347,18,WA
18185,York-Hanover,49620,2017,365,266,99,0,0,0,0,93,61,43,0,14,211,1,139,0,PA
18186,Youngstown-Warren-Boardman,49660,2017,365,191,170,4,0,0,0,115,67,50,0,0,122,0,243,0,OH-PA
18187,Yuba City,49700,2017,365,181,175,9,0,0,0,130,82,51,0,0,172,0,189,4,CA
18188,Yuma,49740,2017,365,241,110,12,1,1,0,235,72,45,0,0,209,0,50,106,AZ

In [13]:
print(len(cbsa_aqi_df))
cbsa_aqi_df.keys()

18189

Index(['CBSA', 'CBSA Code', 'Year', 'Days with AQI', 'Good Days',
       'Moderate Days', 'Unhealthy for Sensitive Groups Days',
       'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days SO2', 'Days PM2.5', 'Days PM10',
       'State Abbreviation'],
      dtype='object')

In [14]:
# Add columns with percentage data for good/hazardous days
cbsa_aqi_df['% Days Good'] = cbsa_aqi_df["Good Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df['% Days Moderate'] = cbsa_aqi_df["Moderate Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df['% Days Unhealthy for Sensitive Groups'] = cbsa_aqi_df["Unhealthy for Sensitive Groups Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df['% Days Unhealthy'] = cbsa_aqi_df["Unhealthy Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df['% Days Very Unhealthy'] = cbsa_aqi_df["Very Unhealthy Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df['% Days Hazardous'] = cbsa_aqi_df["Hazardous Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df.head()

,CBSA,CBSA Code,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,...,Days SO2,Days PM2.5,Days PM10,State Abbreviation,% Days Good,% Days Moderate,% Days Unhealthy for Sensitive Groups,% Days Unhealthy,% Days Very Unhealthy,% Days Hazardous
0,Akron,10420,1980,366,17,119,171,57,2,0,...,298,0,0,OH,4.644809,32.513661,46.721311,15.573770,0.546448,0.000000
1,Albany-Schenectady-Troy,10580,1980,365,95,183,72,15,0,0,...,274,0,0,NY,26.027397,50.136986,19.726027,4.109589,0.000000,0.000000
2,Albuquerque,10740,1980,366,161,155,29,12,9,0,...,0,0,0,NM,43.989071,42.349727,7.923497,3.278689,2.459016,0.000000
3,Alexandria,10780,1980,183,152,25,5,1,0,0,...,0,0,0,LA,83.060109,13.661202,2.732240,0.546448,0.000000,0.000000
4,Allentown-Bethlehem-Easton,10900,1980,365,104,157,58,36,9,1,...,139,0,0,PA-NJ,28.493151,43.013699,15.890411,9.863014,2.465753,0.273973

In [15]:
# Export county aqi data to csv
cbsa_aqi_df.to_csv("clean_data/cbsa_aqi_1980_2018.csv")
print('Done.')

Done.

# Pollution Data

In [15]:
pollution = pd.read_csv('../pollution_us_2000_2016.csv')

In [17]:
pollution = pollution[['State','County','State Code','County Code','City',
                      'Date Local','NO2 AQI','O3 AQI','SO2 AQI','CO AQI']]
pollution.head()

,State,County,State Code,County Code,City,Date Local,NO2 AQI,O3 AQI,SO2 AQI,CO AQI
0,Arizona,Maricopa,4,13,Phoenix,2000-01-01,46,34,13.0,NaN
1,Arizona,Maricopa,4,13,Phoenix,2000-01-01,46,34,13.0,25.0
2,Arizona,Maricopa,4,13,Phoenix,2000-01-01,46,34,NaN,NaN
3,Arizona,Maricopa,4,13,Phoenix,2000-01-01,46,34,NaN,25.0
4,Arizona,Maricopa,4,13,Phoenix,2000-01-02,34,27,4.0,NaN

In [20]:
# Export pollution data to csv
pollution.to_csv("clean_data/pollution_us_2000_2016", compression='gzip')
print('Done.')

Done.

## US Cancer Data - by State

In [16]:
# Read in csvs as dataframes
df_cancer_1998_2008 = pd.read_csv("raw_data/state_yearly_monthly_cancer_statistics_1999_to_2008.csv")
df_cancer_2009_2014 = pd.read_csv("raw_data/state_yearly_monthly_cancer_statistics_2009_to_2014.csv")

# Remove lines without data
df_cancer_1998_2008 = df_cancer_1998_2008.loc[df_cancer_1998_2008["State"].isin(reverse_state_abbrev)]
df_cancer_2009_2014 = df_cancer_2009_2014.loc[df_cancer_2009_2014["State"].isin(reverse_state_abbrev)]

# Combine dataframes
df_cancer_1998_2014 = df_cancer_1998_2008.append(df_cancer_2009_2014, ignore_index=True)

# Add column with state abbreviation for making choropleth
df_cancer_1998_2014["State Abbreviation"] = df_cancer_1998_2014["State"].apply(lambda x: reverse_state_abbrev[x])

# Change numeric dtypes
df_cancer_1998_2014[['State Code', 'Year', 'Year Code', 'Count']\
                   ] = df_cancer_1998_2014[['State Code', 'Year', 'Year Code', 'Count']].astype(int)

state_cancer_1998_2014 = df_cancer_1998_2014[['State','State Abbreviation','Year','Year Code','Cancer Sites','Cancer Sites Code','Count']]
state_cancer_1998_2014.head()

,State,State Abbreviation,Year,Year Code,Cancer Sites,Cancer Sites Code,Count
0,Connecticut,CT,1999,1999,All Invasive Cancer Sites Combined,0,18694
1,Connecticut,CT,2000,2000,All Invasive Cancer Sites Combined,0,19200
2,Connecticut,CT,2001,2001,All Invasive Cancer Sites Combined,0,19626
3,Connecticut,CT,2002,2002,All Invasive Cancer Sites Combined,0,19570
4,Connecticut,CT,2003,2003,All Invasive Cancer Sites Combined,0,19516

In [17]:
# Export state cancer data to csv
state_cancer_1998_2014.to_csv("clean_data/state_cancer_1998_2014.csv")
print('Done.')

Done.

In [18]:
# Group data by state
cancer_by_state = state_cancer_1998_2014.groupby(['State Abbreviation','State'])[['Count']].sum()
# cancer_by_state = cancer_by_state.reset_index('State Abbreviation')
cancer_by_state.head()

                                 Count
State Abbreviation State
AK                 Alaska       125735
AL                 Alabama     1215322
AR                 Arkansas     668683
AZ                 Arizona     1356728
CA                 California  7956919

In [19]:
# state_cancer_1998_2014.keys()
cancer_1998_2014 = state_cancer_1998_2014[['State', 'State Abbreviation', 'Year', 'Cancer Sites', 'Count']]
cancer_1998_2014['State'] = cancer_1998_2014['State'].apply(lambda x: x.lower())
cancer_1998_2014

,State,State Abbreviation,Year,Cancer Sites,Count
0,connecticut,CT,1999,All Invasive Cancer Sites Combined,18694
1,connecticut,CT,2000,All Invasive Cancer Sites Combined,19200
2,connecticut,CT,2001,All Invasive Cancer Sites Combined,19626
3,connecticut,CT,2002,All Invasive Cancer Sites Combined,19570
4,connecticut,CT,2003,All Invasive Cancer Sites Combined,19516
5,connecticut,CT,2004,All Invasive Cancer Sites Combined,19496
6,connecticut,CT,2005,All Invasive Cancer Sites Combined,19806
7,connecticut,CT,2006,All Invasive Cancer Sites Combined,20562
8,connecticut,CT,2007,All Invasive Cancer Sites Combined,20637
9,connecticut,CT,2008,All Invasive Cancer Sites Combined,20733
10,maine,ME,1999,All Invasive Cancer Sites Combined,7166
11,maine,ME,2000,All Invasive Cancer Sites Combined,7587
12,maine,ME,2001,All Invasive Cancer Sites Combined,7857
13,maine,ME,2002,All Invasive Cancer Sites Combined,7899
14,maine,ME,2003,All Invasive Cancer Sites Combined,7939
15,maine,ME,2004,All Invasive Cancer Sites Combined,8350
16,maine,ME,2005,All Invasive Cancer Sites Combined,8310
17,maine,ME,2006,All Invasive Cancer Sites Combined,8632
18,maine,ME,2007,All Invasive Cancer Sites Combined,8548
19,maine,ME,2008,All Invasive Cancer Sites Combined,8474
20,massachusetts,MA,1999,All Invasive Cancer Sites Combined,33933
21,massachusetts,MA,2000,All Invasive Cancer Sites Combined,34481
22,massachusetts,MA,2001,All Invasive Cancer Sites Combined,35251
23,massachusetts,MA,2002,All Invasive Cancer Sites Combined,35927
24,massachusetts,MA,2003,All Invasive Cancer Sites Combined,35105
25,massachusetts,MA,2004,All Invasive Cancer Sites Combined,35460
26,massachusetts,MA,2005,All Invasive Cancer Sites Combined,35919
27,massachusetts,MA,2006,All Invasive Cancer Sites Combined,37106
28,massachusetts,MA,2007,All Invasive Cancer Sites Combined,37199
29,massachusetts,MA,2008,All Invasive Cancer Sites Combined,37737
...,...,...,...,...,...
67536,hawaii,HI,2014,"Female Breast, In Situ",328
67537,oregon,OR,2009,"Female Breast, In Situ",720
67538,oregon,OR,2010,"Female Breast, In Situ",670
67539,oregon,OR,2011,"Female Breast, In Situ",653
67540,oregon,OR,2012,"Female Breast, In Situ",706
67541,oregon,OR,2013,"Female Breast, In Situ",704
67542,oregon,OR,2014,"Female Breast, In Situ",618
67543,washington,WA,2009,"Female Breast, In Situ",1461
67544,washington,WA,2010,"Female Breast, In Situ",1365
67545,washington,WA,2011,"Female Breast, In Situ",1391
67546,washington,WA,2012,"Female Breast, In Situ",1302
67547,washington,WA,2013,"Female Breast, In Situ",1405
67548,washington,WA,2014,"Female Breast, In Situ",1364
67549,new york,NY,2009,"Male Breast, In Situ",20
67550,new york,NY,2010,"Male Breast, In Situ",18
67551,pennsylvania,PA,2010,"Male Breast, In Situ",21
67552,pennsylvania,PA,2011,"Male Breast, In Situ",18
67553,pennsylvania,PA,2012,"Male Breast, In Situ",18
67554,pennsylvania,PA,2014,"Male Breast, In Situ",20
67555,michigan,MI,2009,"Male Breast, In Situ",17
67556,florida,FL,2009,"Male Breast, In Situ",36
67557,florida,FL,2010,"Male Breast, In Situ",24
67558,florida,FL,2011,"Male Breast, In Situ",20
67559,florida,FL,2013,"Male Breast, In Situ",19
67560,florida,FL,2014,"Male Breast, In Situ",17
67561,texas,TX,2014,"Male Breast, In Situ",26
67562,california,CA,2009,"Male Breast, In Situ",23
67563,california,CA,2010,"Male Breast, In Situ",17
67564,california,CA,2012,"Male Breast, In Situ",18
67565,california,CA,2014,"Male Breast, In Situ",24

## US Cancer Data - by County

In [20]:
# Read in county data for cancer incidences
csv = "Choropleth Testing/Resources/county_cancer_data.csv"
county_cancer_data = pd.read_csv(csv, encoding='latin-1')
county_cancer_data = county_cancer_data.rename(columns = {"County": "Geography"})

# Parse geographic info into county and state
county_cancer_data['County'] = county_cancer_data['Geography'].apply(lambda x: x.split(', ')[0].lower())
county_cancer_data['County'] = county_cancer_data['County'].apply(lambda x: x.replace(' county', '').replace(' parish', '').replace(' borough', ''))
county_cancer_data['State'] = county_cancer_data['Geography'].apply(lambda x: x.split(', ')[-1].split('(')[0])
county_cancer_data['FIPS'] = county_cancer_data[' FIPS']

# Remove values that don't contain state data
county_cancer_data = county_cancer_data.loc[county_cancer_data['State'] != 'US ']
county_cancer_data = county_cancer_data.loc[county_cancer_data['State'] != 'Puerto Rico']

# Remove null datapoints
county_cancer_data = county_cancer_data.loc[county_cancer_data['Average Annual Count'] != '¶ ']
county_cancer_data = county_cancer_data.loc[county_cancer_data['Average Annual Count'] != '¶¶']
county_cancer_data = county_cancer_data.loc[county_cancer_data['Average Annual Count'] != '¶']
county_cancer_data = county_cancer_data.loc[county_cancer_data['Met Healthy People Objective of ***?'] != '<font color=grey>*</font>']

# Add column for state abbreviation
county_cancer_data['State Abbreviation'] = county_cancer_data['State'].apply(lambda x: reverse_state_abbrev[x])

# Make state name lowercase
county_cancer_data['State'] = county_cancer_data['State'].apply(lambda x: x.lower())

county_cancer_data.head()

,Geography,FIPS,Met Healthy People Objective of ***?,"Age-Adjusted Incidence Rate() - cases per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend () in Incidence Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1,County,State,FIPS,State Abbreviation
1,"Union County, Florida(6,10)",12125,***,215.1,183.2,251.1,38,stable,-2.5,-24,25,union,florida,12125,FL
2,"Owsley County, Kentucky(7,8)",21189,***,179.7,134.8,236.3,11,rising,4.3,0.9,7.7,owsley,kentucky,21189,KY
3,"McCreary County, Kentucky(7,8)",21147,***,154.1,130.5,180.9,32,stable,-0.7,-3,1.7,mccreary,kentucky,21147,KY
4,"North Slope Borough, Alaska(6,10)",2185,***,150.8,97,220.1,7,stable,-0.2,-36.8,57.8,north slope,alaska,2185,AK
5,"Powell County, Kentucky(7,8)",21197,***,140.9,115.2,171,22,stable,0.4,-3.3,4.3,powell,kentucky,21197,KY

In [21]:
# Export county cancer data to csv
# county_cancer_data_years = [???]
county_cancer_data.to_csv("clean_data/county_cancer_trends_2011_2015.csv")
print('Done.')

Done.

## County Population Data

In [22]:
# Read in census data with county population estimates
census_csv = "Choropleth Testing/Resources/county_populations_census_2010-17.csv"
county_pop = pd.read_csv(census_csv, encoding='latin-1')

# Rename columns
county_pop = county_pop.rename(columns = {'April 1, 2010 - Census': '2010 Census',
                                          'April 1, 2010 - Estimates Base': 'Estimate Base',
                                          'Population Estimate (as of July 1) - 2010': '2010 Estimate',
                                          'Population Estimate (as of July 1) - 2011': '2011 Estimate',
                                          'Population Estimate (as of July 1) - 2012': '2012 Estimate',
                                          'Population Estimate (as of July 1) - 2013': '2013 Estimate',
                                          'Population Estimate (as of July 1) - 2014': '2014 Estimate',
                                          'Population Estimate (as of July 1) - 2015': '2015 Estimate',
                                          'Population Estimate (as of July 1) - 2016': '2016 Estimate',
                                          'Population Estimate (as of July 1) - 2017': '2017 Estimate'})

# Parse geography column into county/state columns
county_pop["County"] = county_pop['Geography'].apply(lambda x: x.split(", ")[0].lower())
county_pop["County"] = county_pop["County"].apply(lambda x: x.replace(" county", ""))
county_pop["County"] = county_pop["County"].apply(lambda x: x.replace(" parish", ""))
county_pop["State"] = county_pop['Geography'].apply(lambda x: x.split(", ")[-1])
county_pop["FIPS"] = county_pop['Id'].apply(lambda x: x[-5:])
county_pop["State Abbreviation"] = county_pop['State'].apply(lambda x: reverse_state_abbrev[x])
county_pop["State"] = county_pop['State'].apply(lambda x: x.lower())

# Remove unnecessary cols
county_pop = county_pop[['FIPS','County','State','State Abbreviation','2010 Census','2011 Estimate','2012 Estimate','2013 Estimate','2014 Estimate','2015 Estimate','2016 Estimate','2017 Estimate']]

county_pop.head()

,FIPS,County,State,State Abbreviation,2010 Census,2011 Estimate,2012 Estimate,2013 Estimate,2014 Estimate,2015 Estimate,2016 Estimate,2017 Estimate
0,01001,autauga,alabama,AL,54571,55199,54927,54695,54864,54838,55278,55504
1,01003,baldwin,alabama,AL,182265,186534,190048,194736,199064,202863,207509,212628
2,01005,barbour,alabama,AL,27457,27351,27175,26947,26749,26264,25774,25270
3,01007,bibb,alabama,AL,22915,22745,22658,22503,22533,22561,22633,22668
4,01009,blount,alabama,AL,57322,57562,57595,57623,57546,57590,57562,58013

In [23]:
# Change county population data format to match other datasets (new rows for each year)?
county_pop_2010_2017 = []
year_cols = ['2010 Census','2011 Estimate','2012 Estimate','2013 Estimate','2014 Estimate','2015 Estimate','2016 Estimate','2017 Estimate']

for i in range(len(county_pop)):
    county_fips = county_pop.iloc[i,0]
    county_name = county_pop.iloc[i,1]
    county_state = county_pop.iloc[i,2]
    county_st_abbrev = county_pop.iloc[i,3]
    for j in range(4,len(county_pop.iloc[i])-1):
        year = year_cols[int(j-4)].split()[0]
        county_yr_pop = county_pop.iloc[i,j]
        county_yr_row = {'FIPS':county_fips,
                          'County':county_name,
                          'State':county_state,
                          'State Abbreviation':county_st_abbrev,
                          'Year':year,
                          'Population':county_yr_pop}
        county_pop_2010_2017.append(county_yr_row)
        
county_pop_2010_2017 = pd.DataFrame(county_pop_2010_2017)
county_pop_2010_2017.head()

    County   FIPS  Population    State State Abbreviation  Year
0  autauga  01001       54571  alabama                 AL  2010
1  autauga  01001       55199  alabama                 AL  2011
2  autauga  01001       54927  alabama                 AL  2012
3  autauga  01001       54695  alabama                 AL  2013
4  autauga  01001       54864  alabama                 AL  2014

In [24]:
# Export county population data to csv
county_pop.to_csv("clean_data/county_pop.csv")
county_pop_2010_2017.to_csv("clean_data/county_pop_2010_2017.csv")
print('Done.')

Done.

### Combine relevant datasets

In [25]:
print(aqi_1980_2018.keys())
print(cancer_1998_2014.keys())

Index(['State', 'County', 'State Abbreviation', 'Year', 'FIPS',
       'State FIPS Code', 'County FIPS Code', 'Max AQI', '90th Percentile AQI',
       '% Days AQI Unhealthy-Hazardous', '% Days CO', '% Days NO2',
       '% Days SO2', '% Days Ozone', '% Days PM2.5', '% Days PM10'],
      dtype='object')
Index(['State', 'State Abbreviation', 'Year', 'Cancer Sites', 'Count'], dtype='object')

In [26]:
aqi_1980_2018.to_csv("clean_data/aqi_1980_2018.csv")
cancer_1998_2014.to_csv("clean_data/cancer_1998_2014.csv")
print('Done.')

Done.

In [47]:
# Group AQI data by state and year to merge with cancer data, average other data
aqi_med = aqi_1980_2018.groupby(['State', 'State Abbreviation', 'Year'])[['Max AQI', '90th Percentile AQI',
                                                                '% Days AQI Unhealthy-Hazardous', 
                                                                '% Days CO', '% Days NO2', '% Days SO2', 
                                                                '% Days Ozone', '% Days PM2.5', '% Days PM10']].median()
aqi_med = aqi.reset_index()

# Rename columns
newcols = {'State':'State', 'State Abbreviation':'State Abbreviation', 'Year':'Year',
           'Max AQI':'Median Max AQI', '90th Percentile AQI':'Median 90th Percentile AQI',
           '% Days AQI Unhealthy-Hazardous':'Median % Days AQI Unhealthy-Hazardous', 
           '% Days CO':'Median % Days CO', '% Days NO2':'Median % Days NO2',
           '% Days SO2':'Median % Days SO2', '% Days Ozone':'Median % Days Ozone', 
           '% Days PM2.5':'Median % Days PM2.5', '% Days PM10':'Median % Days PM10',
           'Cancer Sites':'Cancer Sites', 'Count':'Cancer Count'}
aqi_med.rename(columns = newcols, inplace = True)

aqi_med = aqi_med[['State', 'State Abbreviation', 'Year', 'Median Max AQI',
       'Median 90th Percentile AQI', 'Median % Days AQI Unhealthy-Hazardous',
       'Median % Days CO', 'Median % Days NO2', 'Median % Days SO2',
       'Median % Days Ozone', 'Median % Days PM2.5', 'Median % Days PM10']]

aqi_med.head()
# aqi_med.keys()

,State,State Abbreviation,Year,Median Max AQI,Median 90th Percentile AQI,Median % Days AQI Unhealthy-Hazardous,Median % Days CO,Median % Days NO2,Median % Days SO2,Median % Days Ozone,Median % Days PM2.5,Median % Days PM10
0,alabama,AL,1980,188.200000,130.000000,6.395587,6.061712,8.737746,46.318783,38.881758,0.0,0.0
1,alabama,AL,1981,180.636364,117.818182,6.239544,1.594022,2.597403,35.983619,59.824956,0.0,0.0
2,alabama,AL,1982,180.181818,100.727273,2.636585,1.867995,0.762873,34.233762,63.135369,0.0,0.0
3,alabama,AL,1983,196.888889,107.444444,3.270985,4.048706,0.000000,43.916337,52.034956,0.0,0.0
4,alabama,AL,1984,183.250000,104.375000,2.609055,5.703552,0.000000,54.478193,39.818255,0.0,0.0

In [43]:
# Group AQI data by state and year to merge with cancer data, average other data
aqi_avg = aqi_1980_2018.groupby(['State', 'State Abbreviation', 'Year'])[['Max AQI', '90th Percentile AQI',
                                                                '% Days AQI Unhealthy-Hazardous', 
                                                                '% Days CO', '% Days NO2', '% Days SO2', 
                                                                '% Days Ozone', '% Days PM2.5', '% Days PM10']].mean()
aqi_avg = aqi.reset_index()

# Rename columns
newcols = {'State':'State', 'State Abbreviation':'State Abbreviation', 'Year':'Year', 
           'Max AQI':'Average Max AQI', '90th Percentile AQI':'Average 90th Percentile AQI',
           '% Days AQI Unhealthy-Hazardous':'Average % Days AQI Unhealthy-Hazardous', 
           '% Days CO':'Average % Days CO', '% Days NO2':'Average % Days NO2',
           '% Days SO2':'Average % Days SO2', '% Days Ozone':'Average % Days Ozone', 
           '% Days PM2.5':'Average % Days PM2.5', '% Days PM10':'Average % Days PM10',
           'Cancer Sites':'Cancer Sites', 'Count':'Cancer Count'}
aqi_avg.rename(columns = newcols, inplace = True)

aqi_avg = aqi_avg[['State', 'State Abbreviation', 'Year', 'Average Max AQI',
       'Average 90th Percentile AQI', 'Average % Days AQI Unhealthy-Hazardous',
       'Average % Days CO', 'Average % Days NO2', 'Average % Days SO2',
       'Average % Days Ozone', 'Average % Days PM2.5', 'Average % Days PM10']]

aqi_avg.head()

,State,State Abbreviation,Year,Average Max AQI,Average 90th Percentile AQI,Average % Days AQI Unhealthy-Hazardous,Average % Days CO,Average % Days NO2,Average % Days SO2,Average % Days Ozone,Average % Days PM2.5,Average % Days PM10
0,alabama,AL,1980,188.200000,130.000000,6.395587,6.061712,8.737746,46.318783,38.881758,0.0,0.0
1,alabama,AL,1981,180.636364,117.818182,6.239544,1.594022,2.597403,35.983619,59.824956,0.0,0.0
2,alabama,AL,1982,180.181818,100.727273,2.636585,1.867995,0.762873,34.233762,63.135369,0.0,0.0
3,alabama,AL,1983,196.888889,107.444444,3.270985,4.048706,0.000000,43.916337,52.034956,0.0,0.0
4,alabama,AL,1984,183.250000,104.375000,2.609055,5.703552,0.000000,54.478193,39.818255,0.0,0.0

In [55]:
# Left merge cancer + aqi means data (includes NaNs)
cancer_aqi = pd.merge(left=aqi_avg, right=cancer_1998_2014, how='left', on=['State', 'State Abbreviation', 'Year'])
cancer_aqi.to_csv('clean_data/cancer_aqi_1980_2018.csv')
cancer_aqi.head()

,State,State Abbreviation,Year,Average Max AQI,Average 90th Percentile AQI,Average % Days AQI Unhealthy-Hazardous,Average % Days CO,Average % Days NO2,Average % Days SO2,Average % Days Ozone,Average % Days PM2.5,Average % Days PM10,Cancer Sites,Count
0,alabama,AL,1980,188.200000,130.000000,6.395587,6.061712,8.737746,46.318783,38.881758,0.0,0.0,NaN,NaN
1,alabama,AL,1981,180.636364,117.818182,6.239544,1.594022,2.597403,35.983619,59.824956,0.0,0.0,NaN,NaN
2,alabama,AL,1982,180.181818,100.727273,2.636585,1.867995,0.762873,34.233762,63.135369,0.0,0.0,NaN,NaN
3,alabama,AL,1983,196.888889,107.444444,3.270985,4.048706,0.000000,43.916337,52.034956,0.0,0.0,NaN,NaN
4,alabama,AL,1984,183.250000,104.375000,2.609055,5.703552,0.000000,54.478193,39.818255,0.0,0.0,NaN,NaN

In [54]:
# Inner merge cancer + aqi means data
cancer_aqi_df = pd.merge(left=aqi_avg, right=cancer_1998_2014, how='inner', on=['State', 'State Abbreviation', 'Year'])
print(cancer_aqi_df.keys())

# Export to csv
cancer_aqi_df.to_csv('clean_data/DATA_avgs.csv')
cancer_aqi_df.head()

Index(['State', 'State Abbreviation', 'Year', 'Average Max AQI',
       'Average 90th Percentile AQI', 'Average % Days AQI Unhealthy-Hazardous',
       'Average % Days CO', 'Average % Days NO2', 'Average % Days SO2',
       'Average % Days Ozone', 'Average % Days PM2.5', 'Average % Days PM10',
       'Cancer Sites', 'Count'],
      dtype='object')

,State,State Abbreviation,Year,Average Max AQI,Average 90th Percentile AQI,Average % Days AQI Unhealthy-Hazardous,Average % Days CO,Average % Days NO2,Average % Days SO2,Average % Days Ozone,Average % Days PM2.5,Average % Days PM10,Cancer Sites,Count
0,alabama,AL,1999,144.954545,89.909091,1.725947,0.535731,0.0,11.765212,25.312181,40.137894,22.248982,All Invasive Cancer Sites Combined,19290
1,alabama,AL,1999,144.954545,89.909091,1.725947,0.535731,0.0,11.765212,25.312181,40.137894,22.248982,Oral Cavity and Pharynx,489
2,alabama,AL,1999,144.954545,89.909091,1.725947,0.535731,0.0,11.765212,25.312181,40.137894,22.248982,Lip,67
3,alabama,AL,1999,144.954545,89.909091,1.725947,0.535731,0.0,11.765212,25.312181,40.137894,22.248982,Tongue,110
4,alabama,AL,1999,144.954545,89.909091,1.725947,0.535731,0.0,11.765212,25.312181,40.137894,22.248982,Salivary Gland,44

In [53]:
# Inner merge cancer + aqi medians data
cancer_aqi_df = pd.merge(left=aqi_med, right=cancer_1998_2014, how='inner', on=['State', 'State Abbreviation', 'Year'])
print(cancer_aqi_df.keys())

# Export to csv
cancer_aqi_df.to_csv('clean_data/DATA_meds.csv')
cancer_aqi_df.head()

Index(['State', 'State Abbreviation', 'Year', 'Median Max AQI',
       'Median 90th Percentile AQI', 'Median % Days AQI Unhealthy-Hazardous',
       'Median % Days CO', 'Median % Days NO2', 'Median % Days SO2',
       'Median % Days Ozone', 'Median % Days PM2.5', 'Median % Days PM10',
       'Cancer Sites', 'Count'],
      dtype='object')

,State,State Abbreviation,Year,Median Max AQI,Median 90th Percentile AQI,Median % Days AQI Unhealthy-Hazardous,Median % Days CO,Median % Days NO2,Median % Days SO2,Median % Days Ozone,Median % Days PM2.5,Median % Days PM10,Cancer Sites,Count
0,alabama,AL,1999,144.954545,89.909091,1.725947,0.535731,0.0,11.765212,25.312181,40.137894,22.248982,All Invasive Cancer Sites Combined,19290
1,alabama,AL,1999,144.954545,89.909091,1.725947,0.535731,0.0,11.765212,25.312181,40.137894,22.248982,Oral Cavity and Pharynx,489
2,alabama,AL,1999,144.954545,89.909091,1.725947,0.535731,0.0,11.765212,25.312181,40.137894,22.248982,Lip,67
3,alabama,AL,1999,144.954545,89.909091,1.725947,0.535731,0.0,11.765212,25.312181,40.137894,22.248982,Tongue,110
4,alabama,AL,1999,144.954545,89.909091,1.725947,0.535731,0.0,11.765212,25.312181,40.137894,22.248982,Salivary Gland,44